autogen.sh filter=lfs diff=lfs merge=lfs -text
checkmark-synced.png filter=lfs diff=lfs merge=lfs -text
digitalpay-android-QR.png filter=lfs diff=lfs merge=lfs -text
contrib filter=lfs diff=lfs merge=lfs -text
depends filter=lfs diff=lfs merge=lfs -text
dist filter=lfs diff=lfs merge=lfs -text
my-doge-deposit.png filter=lfs diff=lfs merge=lfs -text
DigitalPay-about.png filter=lfs diff=lfs merge=lfs -text
QR-fix.png filter=lfs diff=lfs merge=lfs -text
autom4te.cache filter=lfs diff=lfs merge=lfs -text
background.tiff filter=lfs diff=lfs merge=lfs -text
src filter=lfs diff=lfs merge=lfs -text
find-repo-by-camera-QR.png filter=lfs diff=lfs merge=lfs -text
libtool filter=lfs diff=lfs merge=lfs -text
recommend-send-1.00-DOGE.png filter=lfs diff=lfs merge=lfs -text
Makefile filter=lfs diff=lfs merge=lfs -text
Makefile.am filter=lfs diff=lfs merge=lfs -text
Screenshot_20210426-040526.png filter=lfs diff=lfs merge=lfs -text
background.tiff.png filter=lfs diff=lfs merge=lfs -text
libbitcoinconsensus.pc filter=lfs diff=lfs merge=lfs -text
share filter=lfs diff=lfs merge=lfs -text
QR-app-store-install.png filter=lfs diff=lfs merge=lfs -text
config.log filter=lfs diff=lfs merge=lfs -text
config.status filter=lfs diff=lfs merge=lfs -text
dogecoin-logo.source.txt filter=lfs diff=lfs merge=lfs -text
doc filter=lfs diff=lfs merge=lfs -text
aclocal.m4 filter=lfs diff=lfs merge=lfs -text
configure filter=lfs diff=lfs merge=lfs -text
configure.ac filter=lfs diff=lfs merge=lfs -text
configure~ filter=lfs diff=lfs merge=lfs -text
build-aux filter=lfs diff=lfs merge=lfs -text
digitalpay-android.png filter=lfs diff=lfs merge=lfs -text
libbitcoinconsensus.pc.in filter=lfs diff=lfs merge=lfs -text
COPYING filter=lfs diff=lfs merge=lfs -text
DigitalPay-main-gui.png filter=lfs diff=lfs merge=lfs -text
INSTALL.md filter=lfs diff=lfs merge=lfs -text
Screenshot_20210426-040519.png filter=lfs diff=lfs merge=lfs -text
dogecoin.conf filter=lfs diff=lfs merge=lfs -text
qa filter=lfs diff=lfs merge=lfs -text
CONTRIBUTING.md filter=lfs diff=lfs merge=lfs -text
DigitalPay-splash.png filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
android-app.receive-by-QR.png filter=lfs diff=lfs merge=lfs -text
Makefile.in filter=lfs diff=lfs merge=lfs -text
background.tiff@2x.png filter=lfs diff=lfs merge=lfs -text
digitalpay-logo.png filter=lfs diff=lfs merge=lfs -text
